Домашняя работа по теме «Функции и работа с данными»

In [ ]:
import pandas as pd

Задание 1. Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
def classification(row):
  """Классифицирует фильмы в зависимости от оценки пользователей"""
  if row['rating'] <= 2.0:
    return 'низкий рейтинг'
  if row['rating'] > 2.0 and row['rating'] <= 4.0:
    return 'средний рейтинг'
  if row['rating'] > 4.0:
    return 'высокий рейтинг'

In [ ]:
ratings['class'] = ratings.apply(classification, axis=1)

In [ ]:
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

Задание 2. Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Результат классификации запишите в отдельный столбец region.

In [ ]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }

In [ ]:
keywords = pd.read_csv('keywords.csv')

In [ ]:
def geo_classification(row):
  """Определяет географический регион поискового запроса"""
  for city in sum(geo_data.values(), []):
    if city in row['keyword']:
      for region, cities in geo_data.items():
        if city in cities:
          return region
  return 'undefined'

In [ ]:
keywords['region'] = keywords.apply(geo_classification, axis=1)

In [ ]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [ ]:
keywords.value_counts('region')

region
undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
dtype: int64

Задание 3. Проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

In [ ]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

1. В переменную years запишите список из всех годов с 1950 по 2010.

In [ ]:
years = range(1950, 2011)

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

> для каждой строки пройдите по всем годам списка years

> если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска

> если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

In [ ]:
def production_year(row):
  """Определяет год выпуска фильма"""
  for year in years:
    if str(year) in row['title']:
      return year
  return 1900

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

In [ ]:
movies['year'] = movies.apply(production_year, axis=1)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [ ]:
movies.value_counts('year')

year
1900    1610
1996     275
2000     274
1998     272
2002     271
        ...
1956      32
1958      31
1952      27
1950      27
1951      23
Length: 62, dtype: int64

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [ ]:
movies_ratings = ratings.merge(movies, left_on='movieId', right_on='movieId', how='inner')
movies_ratings.head()

   userId  movieId  rating   timestamp                   title genres  year
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama  1995
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama  1995
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama  1995
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama  1995
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama  1995

In [ ]:
(
    movies_ratings.groupby('year')
    .agg({'rating': 'mean'})
    .sort_values(by='rating', ascending=False)
    )

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]

Домашняя работа выполнена.